.container{
    display: grid;
    grid-template-rows:1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:13px; /*espacio entre itemps*/
    place-items: center;

}

.item{
    background-color: aquamarine;
    border: 1px solid black;
    text-align: center;
    height: 125px;
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}